html {
	padding: 0px;
	background-color: #efefef;
}

body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#landing-main {
	position: absolute;
	left:0; top:92px; right:0; bottom:0;
}

#left {
	text-align: center;
	padding-top: 20%;
	height: 100%;
	width: 49.6%;
	display: inline-block;
	border: 1px solid black;
	float: left;
}

#right {
	text-align: center;
	padding-top: 20%;
	height: 100%;
	width: 49.6%;
	display: inline-block;
	border: 1px solid black;
	float: right;
}

h5 {
	text-align: center;
}

header > h3 {
	margin: 0;
	font-weight: bolder;
	color: orange;
	font-size: 3rem;
}

header {
    padding: 6px;
    position:absolute;
    left:0; right:0;
    height: 80px;
	margin: 0px;
	display: inline-block;
	background-color: grey;
}

header > a > img {
	display: inline-block;
	height: 80px;
	width: 80px;
}

header > h3 {
	vertical-align: center;
	display: inline-block;
}

.sidebar > a > .books > img {
	display: inline-block;
	height: 80px;
	width: 80px;
}

.sidebar > a > .authors > img {
	display: inline-block;
	height: 80px;
	width: 80px;
}

.sidebar {
	background-color: #fafafa;
    padding: 10px;
    position:absolute;
    left:0; top:92px; bottom: 0;
    width: 158px;
}

.main {
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
    padding: 15px;
}

.vertical-text {
	float: left;
	position: relative;
	height: 120px;
	width: 120px;
	-webkit-transform: rotate(270deg);
}

.active {
	background-color: 	hsla(181, 100%, 41%, 0.3);
	font-weight: bolder;
	font-style: italic;
}

.item {
	height: 230px;
	width: auto;
}

.book-cover {
	height: 200px;
	width: 150px;
	display: inline-block;
	float: left;
}

body > div.main > div > div:nth-child(2) {
	padding: 10px 10px 10px 160px;
	position: relative;
}

.author-portrait {
	width: 150px;
	border-radius: 5px;
	height: 150px;
	display: inline-block;
	float: left;
}

.insert-form {
	text-align: center;
	height: 100%;
}

.insert-form > form > input {
	width: 40%
}

.submit {
	background-color: green;
	border: 1px solid black;
	color: white;
}

.headline {
	width: 60%;
	margin: 0px;
}

.desc {
	padding-left: 160px; 
}

.delete {
	float:right;
	display: inline-block;
}
