<!DOCTYPE html>
<html>
  <head>
    <% include ./../partials/head %>
  </head>
  <body>
  	<% include ./../partials/header.ejs %>
  	<% include ./../partials/sidebar.ejs %>
  	<div class="main"> 
  		<form method="POST" action="./new">
  			<label></label>
  		</form>
  	</div>
  </body>
</html>
