<!DOCTYPE html>
<html>
  <head>
    <% include ./../partials/head %>
  </head>
  <body>
  	<% include ./../partials/header.ejs %>
  	<% include ./../partials/sidebar.ejs %>
  	<div class="main"> 
      <div class="insert-form">
    		<form method="POST" action="./new">
    			<label> First Name: </label><br>
          <input type="text" name="first" required> <br>
          <label> Last Name: </label><br>
          <input type="text" name="last" required> <br>
          <label> Portrait URL: </label><br>
          <input type="text" name="portrait_url" > <br>
          <label> Biography: </label><br>
          <textarea rows="4" cols="50" type="text" name="bio"></textarea><br> <br>
          <input type="submit" value="Add Author" class="submit">
    		</form>
      </div>
  	</div>
  </body>
</html>
